name: Coverage

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUST_LOG: nghe_backend=trace
  COLORBT_SHOW_HIDDEN: 1
  DATABASE_URL: "postgres://postgres:postgres@localhost:5432/postgres"
  AWS_ACCESS_KEY_ID: key
  AWS_SECRET_ACCESS_KEY: key
  AWS_REGION: us-east-1
  AWS_ENDPOINT_URL: http://localhost:9090
  AWS_USE_PATH_STYLE_ENDPOINT: true
  VCPKG_ROOT: ${{ github.workspace }}/target/vcpkg

permissions:
  packages: write

jobs:
  coverage:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --name postgres
        ports:
          - 5432:5432
      s3:
        image: adobe/s3mock:latest
        ports:
          - 9090:9090

    steps:
      - uses: actions/checkout@v6
      - name: Extract rust toolchain
        id: toolchain
        uses: mikefarah/yq@master
        with:
          cmd: yq '.toolchain.channel' rust-toolchain.toml
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.toolchain.outputs.result }}
      - uses: Swatinem/rust-cache@v2
        with:
          key: coverage
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - uses: cargo-bins/cargo-binstall@main
      - name: Increase postgres max connection
        run: |
          docker exec postgres psql -U postgres -d postgres -c "ALTER SYSTEM SET max_connections = '1000'";
          docker exec postgres psql -U postgres -d postgres -c "ALTER SYSTEM SET shared_buffers = '2048MB'";
          docker restart postgres

      - name: Install vcpkg build deps
        run: sudo apt-get --assume-yes install nasm mono-complete
      - name: Build vcpkg deps
        uses: ./.github/actions/build-vcpkg-deps
        with:
          vcpkg-root: ${{ env.VCPKG_ROOT }}
          rust-target: x86_64-unknown-linux-gnu

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Generate code coverage
        run: cargo llvm-cov nextest --profile ci --workspace --codecov --output-path codecov.json --exclude nghe_frontend
        env:
          LASTFM_KEY: ${{ secrets.LASTFM_KEY }}
          SPOTIFY_ID: ${{ secrets.SPOTIFY_ID }}
          SPOTIFY_SECRET: ${{ secrets.SPOTIFY_SECRET }}
      - name: Upload test report to Codecov
        if: success() || failure()
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/nextest/ci/junit.xml
          disable_search: true
          report_type: "test_results"
          fail_ci_if_error: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          disable_search: true
          report_type: "coverage"
          fail_ci_if_error: true
