name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  update-release-draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Get new version
        if: github.ref_name == 'main'
        uses: actions-ecosystem/action-regex-match@v2
        id: new-version
        with:
          text: ${{ github.event.head_commit.message }}
          regex: '^chore: release new version (\d+\.\d+\.\d+).*$'
          flags: s
      - name: Release new version
        uses: release-drafter/release-drafter@v6
        id: release-drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          publish: ${{ steps.new-version.outputs.match != '' }}
          name: v${{ steps.new-version.outputs.group1 }}
          tag: v${{ steps.new-version.outputs.group1 }}
